body {
    background: gray;
}
p{
    margin-top: 30px;
    background: white;
    font-weight: bold;
}

#flexparent {
    background: rgba(255,255,255,255);
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.flexchild {width: 25%;}
.flexchild1{background: rgba(255,0,0,0.25);}
.flexchild2{background: rgba(0,255,0,0.25);}
.flexchild3{background: rgba(0,0,255,0.25);}
.flexchild4{background: rgba(255,0,0,0.25);}
.flexchild5{background: rgba(0,255,0,0.25);}
.flexchild6{background: rgba(0,0,255,0.25);}
.flexchild7{background: rgba(255,0,0,0.25);}
.flexchild8{background: rgba(0,255,0,0.25);}
.flexchild9{background: rgba(0,0,255,0.25);}

#gridparent{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 40px 60px;
    /*grid-template-columns: 250px auto 25%;*/
    background: rgba(192,192,192,255);
}

.gridchild1{background: skyblue;}
.gridchild2{background: blueviolet;}
.gridchild3{background: coral;}
.gridchild4{background: crimson;}
.gridchild5{background: chartreuse;}
.gridchild6{background: yellow;}

/* pre CSS flexbox styles
/* applies to everywhere unless overridden elsewhere 
* {margin:0;}
body {background: rgba(255,0,0,0.25);}
header {
    background: rgba(224,224,224,255);
    height: 50;
}
section {
    background: rgba(224,224,224,255);

}
aside {
    background: rgba(224,224,224,255);
    display: none;
}
footer {background: rgba(224,224,224,255);}


/* applies to any device or browser with a screen width greater than 768

@media screen and (min-width: 768px) {
    body {background: rgba(0,255,0,0.25);}
    aside {display: block;}
}

header {background: rgba(224,224,224,255);}
section {background: rgba(224,224,224,255);}
aside {background: rgba(224,224,224,255);}
footer {background: rgba(224,224,224,255);}
/* applies to any device or browser with a screen width greater than 1200px 

@media screen and (min-width: 1200px) {
    body {
        background: rgba(0,0,255,0.25);
    }
    section{
        float: left;
        width: 80%
    }
    aside{
        float: right;
        width: 20%
    }
    footer{
        clear: both;
    }

}
*/