#parent{ 
    background: lightblue;
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.childitem{
    width: 150px;
    font-size: 24px;
}
.child1 { background: cornflowerblue; }
.child2 { background: deepskyblue; }
.child3 { background: dodgerblue; }
.child4 { background: khaki; }
.child5 { background: orange; }
.child6 { background: gold; }
.child7 { background: darkgreen; }
.child8 { background: darkolivegreen; }
.child9 { background: forestgreen; }
